.header {
}
.timer-section,
.timer-container,
.timer,
.timer-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer-container {
  flex-direction: column;
  width: 240px;
  height: 450px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}
.timer-indicator {
  width: 196px;
  height: 196px;
  border-radius: 50%;
  background-color: rgb(245, 242, 242);
  margin-bottom: 20px;
  background-image: conic-gradient(green 0deg, transparent 0deg);
  box-shadow: 1px 1px 1px rgb(223, 213, 213), 0 0 2em rgb(231, 227, 223),
    0 0 0.2em rgb(179, 177, 167);
}
.timer {
  position: relative;
  width: 190px;
  height: 190px;
  flex-direction: column;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}
.timer p {
  font-size: 46px;
  color: white;
  margin: 0;
}

.timer-button {
  font-weight: bold;
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;
}
.timer-reset {
  font-weight: bold;
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;
}
.timer-reset:hover,
.timer-button:hover {
  background-color: rgba(114, 103, 103, 0.4);
  color: white;
}
